*.bak
.DS_Store
_minted-main
texput.log
ludek-vesely-cv-en.lof
ludek-vesely-cv-en.lol
ludek-vesely-cv-en.lot
ludek-vesely-cv-en.aux
ludek-vesely-cv-en.log
ludek-vesely-cv-en.out
ludek-vesely-cv-en.synctex.gz
ludek-vesely-cv-en.tex.bak
ludek-vesely-cv-en.toc
ludek-vesely-cv.lof
ludek-vesely-cv.lol
ludek-vesely-cv.lot
ludek-vesely-cv.aux
ludek-vesely-cv.log
ludek-vesely-cv.out
ludek-vesely-cv.synctex.gz
ludek-vesely-cv.tex.bak
ludek-vesely-cv.toc
